<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://foodapiapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8297e652-8129-46eb-ad84-2dee31b586b9/resourcegroups/componentes/providers/Microsoft.Web/sites/FoodApiApp</ResourceId>
    <UserName>$FoodApiApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://foodapiapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>